.PotionItem {

    list-style: none;
  
    background: rgb(119, 202, 235);
    border: 5px solid rgb(243, 100, 188);
    padding: 10px;
  
    display: grid;
    grid-template-rows: 90px 120px 20px;
    grid-gap: 10px;
  
    justify-items: center;
  
  }
  
  .PotionItem h2 {
    margin: 2px;
    padding-bottom: 10px;
    background-color: lightpink;
  }
  
  .PotionItem img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    margin: 10px;
  }
  
  .PotionItem p {
    margin: 1px;
    font-size: .9rem;
  }
  
  